
<nav class="navbar fixed-top navbar-light bg-light">
<div class="container-fluid">
  <div class="logo">
    <img
      src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"
      alt="AP logo"
    />
    <img
      src="https://argentinaprograma.inti.gob.ar/theme/moove/pix/LogosInti.png"
      alt="Logo INTI"
    />
  </div>
  <div class="contacto">
    
    <img
      src="https://cdn.icon-icons.com/icons2/2368/PNG/512/github_logo_icon_143772.png"
      alt="logo GITHUB"/> 
    <img  
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png"
      alt="Gmail"> 
    <button type="button" class="btn btn-dark">Login</button> 
    
  </div>
</div>
</nav>
