* {
margin: 0;  
padding: 0;
}


.container-fluid {
    background-color: #635e5e;      
    padding: 10px;
    margin: 0;
    display:flex;
    color: white;
    flex-flow: row wrap; 
    justify-content: space-between;  
    align-items: center;    
}

.logo  {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

.contacto {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    
    gap: 20px;
}




